ADF-LoadCustomer/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-LoadCustomer"
		},
		"LS_ABLB_ADFStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_ABLB_ADFStorage'"
		},
		"LS_SQL_ADFCustomer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_SQL_ADFCustomer'"
		},
		"LinkedService_JSON_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LinkedService_JSON'"
		},
		"LS_REST_API_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://jsonplaceholder.typicode.com/posts"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_ABLB_ADFStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked server for Azure Blob Storage",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_ABLB_ADFStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_REST_API')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service for Rest API",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_REST_API_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_ADFCustomer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_SQL_ADFCustomer_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LinkedService_JSON')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LinkedService_JSON_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ABLB_APIUserDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ABLB_ADFStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "REST_API_UserDetails"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "UserList",
						"container": "target"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ABLB_ADFStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ABLB_CSV_Dummay')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ABLB_ADFStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "WebActivity"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Templace.csv",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ABLB_ADFStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ABLB_CustomerCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset for Azure Blob Storage",
				"linkedServiceName": {
					"referenceName": "LS_ABLB_ADFStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Customer"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ADF_Customer.csv",
						"container": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "first_name",
						"type": "String"
					},
					{
						"name": "last_name",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "dob",
						"type": "String"
					},
					{
						"name": "ip_address",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ABLB_ADFStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ABLB_JSON_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ABLB_ADFStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "WebActivity"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "catbreeds.json",
							"type": "Expression"
						},
						"container": "output"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ABLB_ADFStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_REST_APIUserDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset for Rest API",
				"linkedServiceName": {
					"referenceName": "LS_REST_API",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "REST_API_UserDetails"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_REST_API')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_APIUserDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_ADFCustomer",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "REST_API_UserDetails"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "userId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "title",
						"type": "nvarchar"
					},
					{
						"name": "body",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "adf_UserDetails"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_ADFCustomer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_CatBreeds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_ADFCustomer",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "WebActivity"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "breed",
						"type": "nchar"
					},
					{
						"name": "country",
						"type": "nchar"
					},
					{
						"name": "origin",
						"type": "nchar"
					},
					{
						"name": "pattern",
						"type": "nchar"
					},
					{
						"name": "lastUpdated",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "adf_catBreeds"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_ADFCustomer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_CatBreeds_JsonFormat')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_ADFCustomer",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "WebActivity"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "breed",
						"type": "nchar"
					},
					{
						"name": "country",
						"type": "nchar"
					},
					{
						"name": "origin",
						"type": "nchar"
					},
					{
						"name": "pattern",
						"type": "nchar"
					},
					{
						"name": "lastUpdated",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "adf_catBreedsJsonFormat"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_ADFCustomer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SQL Server Dataset ",
				"linkedServiceName": {
					"referenceName": "LS_SQL_ADFCustomer",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Customer"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "adf_customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_ADFCustomer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_CustomerNew')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_ADFCustomer",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Customer"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "first_name",
						"type": "varchar"
					},
					{
						"name": "last_name",
						"type": "varchar"
					},
					{
						"name": "email",
						"type": "varchar"
					},
					{
						"name": "dob",
						"type": "date"
					},
					{
						"name": "ip_address",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "adf_customerNew"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_ADFCustomer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SRC_ds_UserList_Json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ABLB_ADFStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "source"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ABLB_ADFStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ds_API_to_WebActivity_Json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Datasource from Web API to store in Blob storage",
				"linkedServiceName": {
					"referenceName": "LS_ABLB_ADFStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "WebActivity.json",
						"container": "input"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ABLB_ADFStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TGT_ds_UserList_Json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkedService_JSON",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(formatDateTime(subtractFromTime(utcNow(),1,'Month'), 'yyyy-MM'), '.json')",
							"type": "Expression"
						},
						"container": "newcontainer"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedService_JSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/203_PL_adequateshop_DataLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Token from Web",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://restapi.adequateshop.com/api/authaccount/login",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat('{\"email\":\"',pipeline().parameters.PRM_email,'\",\"password\":\"',pipeline().parameters.PRM_password,'\"}')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Token from JSON Output",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Token from Web",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "VAR_Token",
							"value": {
								"value": "@{activity('Get Token from Web').output.data.Token}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get All User with Token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Token from JSON Output",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://restapi.adequateshop.com/api/users?page=1",
							"method": "GET",
							"headers": {
								"Authorization": {
									"value": "@{concat('Bearer ',variables('VAR_Token'))}",
									"type": "Expression"
								}
							},
							"body": ""
						}
					},
					{
						"name": "ForEach User Data",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get All User with Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get All User with Token').output.data",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "Get Each Rows Value",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "VAR_UserData",
										"value": {
											"value": "@{item()}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Save value to Table",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Get Each Rows Value",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_adequateshop_UserInsert]",
										"storedProcedureParameters": {
											"JsonData": {
												"value": {
													"value": "@{variables('VAR_UserData')}",
													"type": "Expression"
												},
												"type": "String"
											},
											"pageId": {
												"value": "1",
												"type": "Int64"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQL_ADFCustomer",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"PRM_email": {
						"type": "string",
						"defaultValue": "krishnanssampleapi@gmail.com"
					},
					"PRM_password": {
						"type": "string",
						"defaultValue": "123456"
					}
				},
				"variables": {
					"VAR_Token": {
						"type": "String"
					},
					"VAR_UserData": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ADF Pipeline/200_PL_API_Load"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_ADFCustomer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_adequateshop_User')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_ADFCustomer",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "adequateshop"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "pageId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "userId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "email",
						"type": "nchar"
					},
					{
						"name": "profilepicture",
						"type": "nchar"
					},
					{
						"name": "location",
						"type": "nchar"
					},
					{
						"name": "createdat",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "adequateshop_User"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_ADFCustomer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/101_PL_Load_Customer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to Load Customer information from Blob storage ",
				"activities": [
					{
						"name": "Load Customer from CSV file",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate Traget Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "first_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "first_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "last_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "last_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "dob",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dob",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ip_address",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ip_address",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "dd/MM/yyyy"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ABLB_CustomerCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate Traget Table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "Truncate Table dbo.adf_Customer;\nSelect 0 as Id;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ADF Pipeline/100_PL_Customer"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-27T03:22:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ABLB_CustomerCSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Customer')]"
			]
		}
	]
}