pipeline/202_PL_WebActivity_APIs.json
{
	"name": "202_PL_WebActivity_APIs",
	"properties": {
		"activities": [
			{
				"name": "Get Data from Web",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://catfact.ninja/breeds",
					"method": "GET"
				}
			},
			{
				"name": "Save data to Blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Web data to Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "WebDataColumn",
								"value": {
									"value": "@{variables('API_Output')}",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "WebDataColumn",
									"type": "String"
								},
								"sink": {
									"path": "$['root']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ABLB_CSV_Dummay",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ABLB_JSON_File",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Web data to Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Data from Web",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "API_Output",
					"value": {
						"value": "@{activity('Get Data from Web').output}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Blob to SQL DB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Save data to Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['root']"
								},
								"sink": {
									"name": "JsonValue",
									"type": "String"
								}
							}
						],
						"collectionReference": "",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ABLB_JSON_File",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQL_CatBreeds_JsonFormat",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Truncate Cat Breed Table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Blob to SQL DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Truncate table dbo.adf_catBreeds;\nSelect 0 as Id;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_CatBreeds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach Cat Breeds JSon",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Records for Insert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Records for Insert').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedure for Cat Breed Insert",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Get Id Value",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_adf_CatBreedInsert]",
								"storedProcedureParameters": {
									"Id": {
										"value": {
											"value": "@variables('var_catBreedsJsonId')",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL_ADFCustomer",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Get Id Value",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_catBreedsJsonId",
								"value": {
									"value": "@{item().id}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Records for Insert",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Cat Breed Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select id From dbo.adf_catBreedsJsonFormat;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_CatBreeds_JsonFormat",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"API_Output": {
				"type": "String"
			},
			"var_catBreedsJsonId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF Pipeline/200_PL_API_Load"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-27T07:58:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}