pipeline/203_PL_APIs.json
{
	"name": "203_PL_APIs",
	"properties": {
		"activities": [
			{
				"name": "Entries",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://catfact.ninja/breeds",
					"method": "GET",
					"datasets": [
						{
							"referenceName": "ds_API_to_WebActivity_Json",
							"type": "DatasetReference"
						}
					]
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "newColumn",
								"value": {
									"value": "@variables('API_Output')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Template_Column",
									"type": "String"
								},
								"sink": {
									"path": "$[']]"
								}
							},
							{
								"source": {
									"name": "newColumn",
									"type": "String"
								},
								"sink": {
									"path": "$['$[\\']]']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_WebActivity_to_Blog",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Entries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "API_Output",
					"value": {
						"value": "@{activity('Entries').output}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"API_Output": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF Pipeline/200_PL_API_Load"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-27T07:58:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}